<div class="search-container">
    <div class="search-menu">
        <div></div>
        <h3 class="title">ค้นหาสมุนไพร</h3>
        <div class="search-bar">
            <div class="floating">
                <button (click)="search(searchword.value)" class="search-button">
                    <img *ngIf="showMagnifyingGlass" src="assets/magnifying-glass.svg" alt="magnifying-glass">
                    <img *ngIf="!showMagnifyingGlass" src="assets/close-icon.svg" alt="clear">
                </button>
            </div>
            <input
                #searchword 
                (keydown.enter)="search(searchword.value)"
                (keyup)="compareWord(searchword.value)"
                placeholder="ค้นหาสมุนไพรจากชื่อ"
            >
            
            <button (click)="openfilter();" class="filter-button">
                <p>filter</p>
                <img src="assets/filter-icon.svg" alt="filter">
            </button>
        </div>
    </div>
    <div class="herb-displays">
        <p>
            <span *ngIf="displayHerbs.length>0">ผลลัพธ์ทั้งหมด {{displayHerbs.length}} รายการ </span>
            <span *ngIf="displayHerbs.length<=0">ไม่พบผลลัพธ์การค้นหา </span>
            <span *ngIf="isSearching">จากคำค้นหา "{{wordSearching}}"</span>
        </p>
        <div class="herb-display-list">
            <div *ngFor="let herb of displayHerbs">
                <app-herb-box [herb]="herb"></app-herb-box>
            </div>
        </div>
    </div>
</div>