<div class="navbar-container">
    <div class="icon-tab">
        <div class="icon">
            <img src="assets/herb_logo.png" class="icon-img" alt="herb_logo">
        </div>
        <h1>Thai Herb</h1>
    </div>
    
    <ul>
        <li><a routerLink="/" [class.a-hover]="nowpath=='' || nowpath=='/' || nowpath=='/%20'">
            หน้าหลัก
        </a></li>
        <li><a routerLink="/search" [class.a-hover]="nowpath=='/search'">
            ค้นหาสมุนไพร
        </a></li>
        <li *ngIf="profile == ''"><a routerLink="/login">
            ลงชื่อเข้าสู่ระบบ
        </a></li>
        <li *ngIf="profile != ''" class="profile">
            <span>{{profile}}</span>
            <img src="assets/back-arrow.svg">
            <div class="floating_dropdown">
                <ul>
                    <li *ngIf="role == 'admin'" routerLink="/admin">จัดการข้อมูลผู้ใช้</li>
                    <li *ngIf="role == 'admin'" routerLink="/scraping">รวบรวมข้อมูล (Scraping)</li>
                    <li (click)="logout()">ออกจากระบบ</li>
                </ul>
            </div>
        </li>
    </ul>
</div>