.navbar-container{
    position: fixed;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    margin: 0;
    height: 62px;
    padding: 6px 0px;
    gap: 60px;

    .icon-tab{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;

        .icon{
            display: flex;
            border: 1px black solid;
            border-radius: 100px;
            background-color: white;
            width: 60px;
            height: 60px;
            .icon-img{
                width: 55px;
                height: 55px;
                margin: auto;
            }
        }
    }

    ul{
        display: flex;
        list-style-type: none;
        margin: 0;
        gap: 30px;
        align-items: center;
        
        li{
            // padding: 6px 10px;
            height: max-content;
            // border-radius: 100px;
            // background-color: rgba(21, 98, 0, 0);

            a{
                padding: 6px 10px;
                border-radius: 100px;
                text-decoration: none;
                font-weight: 500;
                background-color: rgba(21, 98, 0, 0);
                color: black;
                cursor: pointer;
            }

            a:hover, .a-hover{
                background-color: rgb(21, 98, 0);
                color: white;
            }
        }
        .profile{
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 4px;

            span{
                font-weight: 500;
            }
            padding: 6px 10px;
                border-radius: 100px;
            img{
                width: 10px;
                -webkit-transform:rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
                filter: invert(100%);
                margin-top: 4px;
            }
        }
        .profile:hover{
            background-color: rgb(21, 98, 0);
            color: white;
            img{
                filter: invert(0);
            }
        }
    }
    
    
}