.herbbox-container{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 330px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
    img{
        height: 180px;
        width: 260px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        cursor: pointer;
    }

    .textbox{
        display: flex;
        flex-direction: column;
        padding: 6px 6px 0 6px;
        text-align: left;

        h3{
            user-select: text;
            font-size: 14px;
            margin: 0;
            font-weight: 500;
            span{
                font-size: 13px;
                font-weight: 400;
            }
        }
        .nameTH{
            span{
                font-size: 14px;
            }
        }
        .description{
            display: -webkit-box;
            // max-width: 660px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 20px;
        }
    }
    transition: 300ms;
}

.herbbox-container:hover{
    transition: 300ms;
    background-color: rgb(244, 244, 244);
    box-shadow: inset -10px -10px 10px rgb(0 0 0 / 10%), inset 10px -10px 10px rgb(0 0 0 / 10%);
}