<div class="app-component">   
    <app-navbar *ngIf="showappNavbar"></app-navbar>
    <div *ngIf="showappNavbar" style="height: 62px;"></div>

    <div class="loading-circle" *ngIf="!loadFinish">
      <div class="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <h2>กำลังโหลดข้อมูล โปรดรอสักครู่..</h2>
    </div>
    <div *ngIf="loadFinish">
      <router-outlet></router-outlet>
    </div>
    
</div>


  <!-- <div class="terminal" [ngSwitch]="selection.value">
  <pre *ngSwitchDefault>ng generate component xyz</pre>
  <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
  <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
  <pre *ngSwitchCase="'dependency'">ng add _____</pre>
  <pre *ngSwitchCase="'test'">ng test</pre>
  <pre *ngSwitchCase="'build'">ng build</pre>
</div> -->