.preview-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .search-menu{
        display: flex;
        justify-content: center;

        .title{
            font-weight: 500;
            font-size: 20px;
            color: rgb(11, 80, 0);
        }
    }
    .herb-displays{
        text-align: center;
        .herb-display-list{
            display: grid;
            grid-template-columns: repeat(3, 260px);
            gap: 20px;
            justify-content: center;
        }
    }
}

.floating{
    position: absolute;
    width: 0;
    height: 0;
}