<div class="filter-container">
    <div class="filter-heading">
        <img src="assets/filter-icon.svg" alt="filter-icon">
        <h3 class="title">ค้นหาสมุนไพร</h3>
    </div>
    <div class="loading-circle" *ngIf="isLoadingProperty">
        <div class="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <h2>กำลังโหลดข้อมูลลักษณะสมุนไพร โปรดรอสักครู่..</h2>
    </div>
    <div class="filter-top">
        <div class="search-bar">
            <p>ระบุชื่อภาษาไทยหรือชื่อภาษาอังกฤษของสมุนไพร : </p>
            <input type="text" #searchbox placeholder="ชื่อสมุนไพร, Herb Name">
        </div>
    </div>
    <div class="filter-body" *ngIf="!isLoadingProperty">
        <div class="biofilter">
            <h4>อนุกรมวิธาน</h4>
            <div class="samerow" *ngFor="let biolabel of bioLabel; let i = index">
                <label>{{biolabel}} : </label>
                <!-- <select class="biofilterlist" [(ngModel)]="taxonomyValue[i]" (change)="bioCheckingDisplay()" name="biologyfilter"> 
                    <option *ngFor="let bio of displayBio[i]" value="{{bio}}">{{bio}}</option>
                </select> -->
                <ng-select class="biofilterlist" [(ngModel)]="taxonomyValue[i]" (change)="bioCheckingDisplay()" name="biologyfilter">
                    <ng-option *ngFor="let bio of displayBio[i]" value="{{bio}}">{{bio}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="propertyfilter">
            <h4>คุณสมบัติอื่นๆ</h4>
            <table>
                <tr>
                    <td>สรรพคุณของสมุนไพร : </td>
                    <td>
                        <ng-select [(ngModel)]="propertieValue">
                            <ng-option *ngFor="let propertie of propertieOption" [value]="propertie._id">{{propertie.description}}</ng-option>
                        </ng-select>

                        <!-- <select #propertiefilter name="propertiefilter">
                            <option *ngFor="let propertie of herbProperty.propertie" value="{{propertie._id}}">{{shortstring(propertie.propertie_description)}}</option>
                        </select> -->
                    </td>
                </tr>
                <tr>
                    <td>ผู้ที่ห้ามรับประทาน : </td>
                    <td>
                        <ng-select [(ngModel)]="forbiddenValue">
                            <ng-option *ngFor="let forbidden of forbiddenOption" [value]="forbidden._id">{{forbidden.description}}</ng-option>
                        </ng-select>
                         
                        <!-- <select #forbiddenfilter name="forbiddenfilter">
                            <option *ngFor="let forbidden of herbProperty.forbidden_person" value="{{forbidden._id}}">{{shortstring(forbidden.forbidden_description)}}</option>
                        </select> -->
                    </td>
                </tr>
                <tr>
                    <td>สารเคมีในสมุนไพร : </td>
                    <td>
                        <ng-select [(ngModel)]="substanceValue">
                            <ng-option *ngFor="let substance of substanceOption" [value]="substance._id">{{substance.description}}</ng-option>
                        </ng-select>
                        <!-- <select #substancefilter name="substancefilter">
                            <option *ngFor="let substance of herbProperty.substance" value="{{substance._id}}">{{shortstring(substance.substance_description)}}</option>
                        </select> -->
                    </td>
                </tr>
                <tr>
                    <td>ผลข้างเคียงของสมุนไพร : </td>
                    <td>
                        <ng-select [(ngModel)]="side_effectValue">
                            <ng-option *ngFor="let side_effect of side_effectOption" [value]="side_effect._id">{{side_effect.description}}</ng-option>
                        </ng-select>

                        <!-- <select #sideeffectfilter name="sideeffectfilter">
                            <option *ngFor="let side_effect of herbProperty.side_effect" value="{{side_effect._id}}">{{shortstring(side_effect.side_effect_description)}}</option>
                        </select> -->
                    </td>
                </tr>
            </table>
        </div>

        <div class="button-bar">
            <button class="submit" (click)="submit(searchbox.value)">ยืนยันเงื่อนไขการค้นหา</button>
            <button class="cancel" (click)="
                                            searchbox.value = '';
                                            clear();
                                            clearResult.emit();
                                            ">
                ล้างผลลัพธ์การค้นหา
            </button>
        </div>
    </div>
</div>