.index-container{
    .carousal-home{
        ::ng-deep .owl-dots{
            margin-top: -30px;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
        }
    }
}

