@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;500;600;700&display=swap');

body {
    font-family: 'Mitr', serif;
    margin: 0;
    padding: 0 0 50px 0;

    background-image: url("assets/herb-background.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    button, input, textarea, select{
        font-family: 'Mitr', serif;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(168, 168, 168); 
    border-radius: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background: rgb(31, 104, 0); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #393939; 
} 